<ContentView height="100%" width="100%">
    <Mapbox
        accessToken="pk.eyJ1IjoiaGFyZHZvbGsiLCJhIjoiY2pkejVmNWNrMWRxeTJ3cXAxejFhYmh3ZSJ9.yjyDZ7vMtC-63ImaJe_aBA"
        mapStyle="light"
        latitude="25.728029"
        longitude="-100.309526"
        zoomLevel="10"
        delay="450"
        showUserLocation="true"
        hideCompass="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false"
        (mapReady)="onMapReady($event)">
        
    </Mapbox>
  </ContentView>
